
<div id="content">
  <div id="login-container">
    <h1>Login</h1>
    <form action="" [formGroup]="form">
      <mat-form-field class="example-full-width wrapper" appearance="fill" id="login">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Entre com seu login" value="" formControlName="username">
      </mat-form-field>
      <mat-form-field class="example-full-width wrapper" appearance="fill" id="senha">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Entre com sua senha" value="" formControlName="password">
        </mat-form-field>

      <button (click)="onClickSubmit()" mat-raised-button color='primary' id="logar" class="wrapper">Login</button>
      <a href="#" id="esqueci-senha">Esqueci a Senha</a>

    </form>
  </div>
  <div id="register-container">
    <a href="Não implementado" id="Criar-conta">Crie uma conta</a>
  </div>
</div>

