<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">

      <a mat-list-item routerLink="/home">
        <i class="material-icons">
            home
        </i>
      HOME
      </a>

      <a mat-list-item routerLink="/carros">
        <i class="material-icons">
          directions_car_filled
        </i>
        CARROS
      </a>

      <a mat-list-item routerLink="/favoritos">
        <i class="material-icons">
          favorite_border
        </i>
        FAVORITOS
      </a>

      <a mat-list-item routerLink="/usuarios">
        <i class="material-icons">
          person_outline
        </i>
        USUÁRIOS
      </a>

      <a mat-list-item routerLink="/upload">
        <i class="material-icons">
          file_upload
        </i>
        UPLOAD
      </a>

      <a mat-list-item routerLink="/storage">
        <i class="material-icons">
          storage
        </i>
        STORAGE
      </a>

      <a mat-list-item routerLink="/charts">
        <i class="material-icons">
          analytics
        </i>
        CHARTS
      </a>

      <a mat-list-item routerLink="/push">
        <i class="material-icons">
          notifications_none
        </i>
        PUSH
      </a>

      <a mat-list-item routerLink="/info">
        <i class="material-icons">
          info
        </i>
        INFO
      </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
